*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3{
  font-size: 1em;
}
h1{
  margin: 0;
  padding:10px;
  padding-left: 1em;
  color:white;
}
h2{
  font-size:1.71428571rem;
}
header{
  background-color: #666666;
  margin-bottom: 20px;
}


.lizard_box{
  margin-top: 3em;
  margin-bottom: 3em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
button{
  display: block;
  width: 85%;
  margin: auto !important;
  padding: 15px;
  border: solid 2px #145b90;
  color: #145b90;
  background-color: none;
  border-radius: 10px;
  background-color: white;
}
.container>p{
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  justify-items: center;
  align-items: center;
}
.container{
  border-top:solid 2px #666666;
}
.box{
  background-color: #EEEEEE;
  height: auto;
  width: 250px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}
.box>p{
  padding: 10px;
  background-color: #fafafa;
  box-shadow: 0px 1px 10px 0px rgba(141, 141, 173, 0.2);
  margin-bottom: 2px;
}
.box>select{
  text-align: center;
}
.box>img{
  width: 100px;
  height: auto;
  margin: auto;
  padding: 15px
}

button.enable{
  background-color: #145b90;
  color:white;
}

li{
  border: 2px solid #666666;
  margin: 0 !important;
  padding: 10px;
  border-bottom: none;
  color:#666666;
  margin-right: 5px !important;
  margin-left: 5px !important;
}
li>button{
  height: auto;
  width: auto;
  border: none;
  background-color: transparent;
  color:#666666;
  text-decoration: underline;
}
li:hover,li>button:hover{
  cursor: pointer;
}

li#reflected{
  transform:translateY(2px);
}

li#absorbed{
  background-color: #666666;
}
#absorbed>button{
  color:white;
}

.instructions {
    height: 30px;
    text-align: center;
    padding-top: 1em;
}

.feedback{
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: #80e27e;
  text-align: center;
  opacity: 0;
  border-radius: 10px;
  transition: .23s ease;
  height: 0;
}

footer{
  text-align: center;
  padding: 1em;
}
/* Desktop Layouts using CSS Grid */
@supports (grid-area:auto) {
@media screen and (min-width: 75em) {
  .container{
    height: 80% !important;
  }
  html,body,.container{
    height: 100vh;
  }

  .container>p{
    text-align: center;
    width:100%;
    .margin-bottom: 0;
  }
  .tabs>ul{
    display: flex;
  }
  li{
    list-style: none;
    margin:10px;
    background-color: white;
    transition: .23s ease;
  }

  .feedback{
    width: 250px;
  }

  .box{
    width: 200px;
  }

  .box>img{
    width: 80px;
  }

  button#submit {
      margin-top: 10px !important;
  }

  .container>button{
    width: 250px;
    margin: auto;
    margin-bottom: 1em;
  }
  footer{
    font-size: .7em;
    padding: 0;
  }
}
